<% content_for :current_page, :home %>

<table cellpadding="5" cellspacing="0" border="0" width="100%" >
  <tbody>
    <tr>
      <td align="left" valign="top" class="just">
        <table>
          <tbody><tr valign="top">
              <td>
                <form method="post" action="javascript:void(0)" onsubmit="centerMap()">Centrer la carte sur :<br>(Il est conseillé de taper le nom d'une ville et du pays en anglais<br>Ex : Mons Belgium)<br><input type="text" id="txtAddress"><input type="submit" value="Recherche"></form>
                <div id="map_canvas" style="position: relative; background-color: rgb(229, 227, 223); "></div>
              </td>
              <td style="padding-left:20px">
                <table>
                  <tbody><tr><td align="right">Latitude :</td><td><input id="txtLatitude" type="text" class="inputField"></td></tr>
                    <tr><td align="right">Longitude :</td><td><input id="txtLongitude" type="text" class="inputField"></td></tr>
                    <tr><td align="right"><!--Niveau min zoom :-->&nbsp;</td><td><!--<input id="txtLevel" type="text" size="3" value="3"/>--><input id="txtLevel" type="hidden" value="3"><input type="button" value="Ajout point" onclick="addPoint()"></td></tr>
                    <tr><td colspan="2" align="right"></td></tr>
                  </tbody>
                </table>
                <br>
                <b>Liste de points</b><br>
                <select id="pointList" size="22" onchange="highlight(this.selectedIndex)" ondblclick="jumpToPoint()"></select><br>
                <input type="button" value="Efface un point sélectionné" onclick="deletePoint()">
                <input type="button" value="Efface tous les points" onclick="deleteAllPoints()">
              </td>
            </tr>
          </tbody></table>
        <table>
          <tbody>
            <tr>
              <td colspan="2"><br>
                <table>
                  <tbody>
                    <tr><td valign="top">Encoded Polyline :</td><td><textarea id="encodedPolyline" class="encodeBox"></textarea></td></tr>
                    <tr style="visibility:hidden" height="5"><td><!--Encoded Levels:--></td><td><input type="hidden" id="encodedLevels" value="BBB"><!--<textarea id="encodedLevels"></textarea>--></td></tr>
                    <!--<tr><td colspan="2" align="right"><input type="button" value="Decode Polyline and Levels" onclick="decode()"></td></tr>-->
                    <tr><td valign="top">Polyline décryptée :</td><td><textarea id="ListeDePoints" class="encodeBoxListe"></textarea></td></tr>
                    <tr><td colspan="2" align="right"><input type="button" value="Conversion" onclick="decode2box()"></td></tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

      </td>


    </tr>
  </tbody>
</table>
